.window {
    height: 100%;
    background: black;
    border-radius: 0.5rem;
    overflow: hidden;
    
    *::-webkit-scrollbar{
    width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background: #6c6b6b99;
        border-radius: 0.5rem;
    }
    
    
    .nav {
        border-bottom: 1px solid rgba(245, 245, 245, 0.17);
        .controls {
            display: flex;

            .control {
                padding-inline: 0.3rem;
                padding-block: 0.05rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: #6c6b6b99;
                }
            }

            .close:hover {
                background: red;
            }
        }
    }

    .main-content{
        color: white;
        height: 95%;
    }
}
